<% include ./partials/header.ejs %>

  <div class="ui link cards">
    <% for (let i = 0; i < notebooks.length; i++) { %>
      <div class="card">
        <div class="image">
          <img src="<%= notebooks[i].image %>">
        </div>
        <div class="content">
          <a class="header"><%= notebooks[i].make %> <%= notebooks[i].model %></a>
          <div class="meta">
            <a><%= notebooks[i].screenSize %></a>
          </div>
          <div class="description">
            In Stock: <%= notebooks[i].availability %>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <a class="ui green button">Add to cart</a>
          </span>
          <span>
            <i class="tag icon"></i>
            R <%= notebooks[i].price %>
          </span>
        </div>
      </div>
    <% } %>
  </div>
  
<% include ./partials/footer.ejs %>